<h2>Announcement: <%= @announcement.title %></h2>
<h3>Body: <%= @announcement.body %></h3>
<h3><%= link_to "Edit", edit_announcement_path(@announcement.id) %> | <%= link_to "Delete", announcement_path(@announcement.id), data: {method: :delete, confirm: "Are you sure you want to delete?"}  %></h3>